<!-- made for searching -->
<div style="margin-top: 3rem;">
    <a href="{% url 'profile_detail' profile.pk%}"><img style="height: 55px; border-style: none;vertical-align: middle;" src="/media/{{profile.profile_picture}}" ></a>

    {% comment %} {% if user == profile.user %} {% endcomment %}
        {% comment %} <a href="{% url 'profile_detail' profile.pk%}"><h2 style="display: inline;">my profile</h2></a> {% endcomment %}
    {% comment %} {% else %} {% endcomment %}
        <a href="{% url 'profile_detail' profile.pk%}"><h2 style="display: inline;">{{profile.user|truncatechars:17}}'s profile</h2></a>    
    {% comment %} {% endif %} {% endcomment %}

    {% if user.is_authenticated %}
        {% if profile.user != user %}
            {% load filters %}
            <button style="display: inline;float: right;" hx-post="{% url 'profile_follow' profile.pk %}">
                {% if profile.followers.all|dasame:user.pk %}
                    unfollow
                {% else %}
                    follow
                {% endif %}
            </button>

        {% endif %}
    {% endif %}
    <br>
    <b id="fc{{profile.pk}}" >{{profile.followers.all.count}} followers </b>        
</div>