<div id="paint-div" class="noselect" x-data="{ palette: $persist('endesga-16') }" >

  <!-- <input id="hex" type="color"> -->
  <!-- colors -->
  {% include 'palettes/endesga-16.html' %} 
  {% include 'palettes/sweetie-16.html' %} 
  {% include 'palettes/pico-8.html' %} 
  {% include 'palettes/matriax8c.html' %} 

  <a class='helptext' href="{% url 'settings' %}#palettes"> <b>change palette</b> </a>

  <div id="brushes">
    <button id="size1" onclick="changeSize(10)" style="font-size: xx-small;">⬤</button>
    <button id="size2" onclick="changeSize(20)" style="font-size: small;">⬤</button>
    <button id="size3" onclick="changeSize(40)" style="font-size: medium;">⬤</button>
    <button id="size3" onclick="changeSize(80)" style="font-size: x-large;">⬤</button>
    <button id="size3" onclick="changeColor('#FFFFFF')" style="font-size: x-large;"><i class="bi bi-eraser-fill"></i></button>
  
  </div>

    <div x-data="{confirmed:false}">
      <button type="button" x-on:click="confirmed = true" x-show="!confirmed" >clear canvas</button>
      <button onclick="clearCanvas()" x-on:click="confirmed = false" id="clear" x-show="confirmed" >are you shure?</button>
    </div>
  <canvas id="draw" height="405px" width="720px" class="art"></canvas>
  {% load static %}
  <script src="{% static 'drawing.js' %}"></script>
  <form action="" method="POST" id="canvasForm"> {% csrf_token %} <input type="hidden" name="body" id="my_hidden"> <input type="submit" name="submit" value="submit" onclick="save()"> </form>
</div>