{% load static %}
{% load filters %}

<section class="post">
    <div>
        <h4>
            <a href="{% url 'profile_detail' post.created_by.pk%}"><img style="height: 55px; border-style: none;vertical-align: middle;" src="/media/{{post.created_by.profile_picture}}" ></a>
            <a href="{% url 'profile_detail' post.created_by.pk%}">{{ post.created_by|truncatechars:20 }}</a>
        </h4>
        <b>{{ post.created_on|timesince}} ago</b>
        <div class="photo"><a href="{% url 'post_detail' post.pk%}"> <img class="art" src="/media/{{post.body.name }}" ></a></div>
    </div>

    {% if user.is_authenticated %}
            <button hx-swap="begin" hx-post="{% url 'post_like' post.pk %}">
                {% if post.likes.all|dasame:user.pk %}
                <i class="bi bi-star-fill"></i>
                {% else %}
                <i class="bi bi-star"></i>
                {% endif %}
            </button>
    {% else %}
        <form style="display: inline;" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <button type="submit"><i class="bi bi-star"></i></button>
        </form> 
    {% endif %}
    <h4 style="display: inline"> <span id='like-count' id="likes">{{post.likes.all.count}}</span> likes • <span x-text="replys">{{post.replys.all.count}}</span> replys</h4>
    {% if user.pk == post.created_by.pk %}
        <form style="display: inline; float:right;" method="POST" action="{% url 'delete_post' post.pk %}" x-data="{confirmed : false}">
            {% csrf_token %}
            <button type="button" x-on:click="confirmed = true" x-show="!confirmed" >delete</button>
            <button type="submit" x-show="confirmed" >are you shure?</button>
        </form>
    {% endif %}

    <div class="zig-zag-line"></div>
    </section>