{% load static %}
{% load filters %}
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'like.js' %}"></script>

<div class="post">
    <div>
        <h4>
            <a href="{% url 'profile_detail' post.created_by.pk%}"><img style="height: 55px; border-style: none;vertical-align: middle;" src="/media/{{post.created_by.profile_picture}}" alt="body image"></a>
            <a href="{% url 'profile_detail' post.created_by.pk%}">{{ post.created_by }}</a>
        </h4>
        <b>{{ post.created_on|timesince}} ago</b>
        <br>
        <a href="{% url 'post_detail' post.pk%}"> <img src="/media/{{post.body.name }}" alt="body image"></a>  
    </div>

    {% if user.is_authenticated %}
        <button onclick="like('{% url 'post_like' post.pk %}','{% url 'post_get_likes' post.pk %}',{{post.pk}},'{{ csrf_token }}')" id="p{{post.pk}}">    
            {% if post.likes.all|dasame:user.pk %}
                ♥
            {% else %}
                ♡
            {% endif %}
        </button>
    {% else %}
        <form style="display: inline;" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <button type="submit">♡</button>
        </form> 
    {% endif %}
    <h4 id="pl{{post.pk}}" style="display: inline">{{post.likes.all.count}} likes • {{post.replys.all.count}} replys</h4>
    <hr>
<div>