{% load static %}
{% load filters %}

<div class="reply">
    <div>
        <h4>
            <a href="{% url 'profile_detail' reply.created_by.pk%}"><img style="height: 55px; border-style: none;vertical-align: middle;" src="/media/{{reply.created_by.profile_picture}}" ></a>
            <a href="{% url 'profile_detail' reply.created_by.pk%}">{{ reply.created_by|truncatechars:20 }}</a>
        </h4>
        <b>{{ reply.created_on|timesince}} ago</b>
        <div class="photo"><img class="art" src="/media/{{reply.body.name }}" ></div>
    </div>

    {% if user.is_authenticated %}
    <button hx-post="{% url 'reply_like' reply.pk %}">
        {% if reply.reply_likes.all|dasame:user.pk %}
            ♥
        {% else %}
            ♡
        {% endif %}
    </button>
    {% else %}
        <form style="display: inline;" method="reply" action="{% url 'login' %}">
            {% csrf_token %}
            <button type="submit">♡</button>
        </form> 
    {% endif %}
    <h4 style="display: inline"> <span id='reply-like-count' x-text="reply_likes">{{reply.reply_likes.all.count}}</span> likes</h4>


    {% if user.pk == reply.created_by.pk %}
        <form style="display: inline; float:right;" method="POST" action="{% url 'delete_reply' reply.pk %}"  x-data="{confirmed : false}">
            {% csrf_token %}
            <button type="button" x-on:click="confirmed = true" x-show="!confirmed" >delete</button>
            <button type="submit" x-show="confirmed" x-transition>are you shure? </button>
        </form>
    {% endif %}

    <div class="zig-zag-line"></div>
    </div>