
<div>
    {% comment %} shitty code {% endcomment %}
    <select onchange="location = window.location.href.split('?')[0] + this.value;">
        {% if url_sort_by == "new" %}
            <option selected value="?sort_by=new">new</option>
            <option value="?sort_by=best">best</option>
            <option value="?sort_by=worst">worst</option>
        {%  elif url_sort_by == "best" %}
            <option value="?sort_by=new">new</option>
            <option selected value="?sort_by=best">best</option>
            <option value="?sort_by=worst">worst</option>
         {%  elif url_sort_by == "worst" %}
            <option value="?sort_by=new">new</option>
            <option value="?sort_by=best">best</option>
            <option selected value="?sort_by=worst">worst</option>
        {% endif%}
    </select>
    <div class="zig-zag-line"></div>
</div>