<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>social media</title>
    {% block page_title %}{% endblock page_title %}
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'simple.min.css' %}">
</head>
<body>
<script src="{% static 'like.js' %}"></script>
<script src="{% static 'reply_like.js' %}"></script>
<script src="{% static 'jquery.js' %}"></script>
    
    <ul style="list-style-type: none;margin: 0;padding: 0;">
        <li style="display: inline;"><a href="{% url 'home'%}">Home</a></li>
        {% if user.is_authenticated %}
            <li style="display: inline;"><a href="{% url 'create_post'%}">Create Post</a></li>
        {% endif %}
        
        <div style="float:right;">
            {% if user.is_authenticated %}
                <li style="display: inline;"><a href="{% url 'profile_detail' user.pk %}">Account</a></li>
                {% comment %} <li style="display: inline;"><a href="{% url 'logout' %}" style="color: var(--code)">Log Out</a></li> {% endcomment %}
                <li style="display: inline;">
                    <form style="display: inline;" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Log Out</button>
                    </form>
            </li>
            {% else %}
                <form style="display: inline;" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button type="submit">Log In</button>
                </form>
                <form style="display: inline;" method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <button type="submit">Sign Up</button>
                </form>
            {% endif %}
        </div>


        {% comment %} <li style="display: inline;"><a href="{% url 'home'%}">About</a></li> {% endcomment %}
      </ul>

    {% comment %} <a href="{% url 'home'%}"><h1>social media site </h1></a> {% endcomment %}

{% block page_content %}{% endblock page_content %}
</body>
</html>