<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>social media</title>
    {% block page_title %}{% endblock page_title %}
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'simple.min.css' %}">
</head>
<body>
<script src="{% static 'like.js' %}"></script>
<script src="{% static 'follow.js' %}"></script>
<script src="{% static 'reply_like.js' %}"></script>
<script src="{% static 'jquery.js' %}"></script>
<script>if ( window.history.replaceState ) {window.history.replaceState( null, null, window.location.href );}
      </script>
<header>
    <nav>
        <a href="{% url 'home'%}">home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'create_post'%}">create post</a>
        {% endif %}

        

        <form style="display: inline;" method="get" id="search">
            <input type="text" onchange="document.getElementById('search').action = `/search/${this.value}/`;" placeholder="search profiles...">
        </form>

        {% if user.is_authenticated %}
            <a href="{% url 'profile_detail' user.pk %}">profile</a>

            <a href="{% url 'account_settings'%}">settings</a>
            
            <form style="display: inline;" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">log Out</button>
            </form>
        
        {% else %}
            <form style="display: inline;" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <button type="submit">log in</button>
            </form>
            <form style="display: inline;" method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <button type="submit">sign up</button>
            </form>
        {% endif %}


        {% comment %} <a href="{% url 'home'%}">About</a> {% endcomment %}
    </nav>
    <h1>drawing social media</h1>
</header>

{% block page_content %}{% endblock page_content %}

<footer>
    <p>this is here to test footers</p>
</footer>
</body>
</html>