{% extends "base.html" %}

{% block page_content %}

    {% include 'components/post.html' %}

    {% if user.is_authenticated %}
        <details style="border:none;background:none;padding:0">
        <summary>draw your own reply</summary>
            {% include 'components/paint.html' %}
        </details>
    {% else %}
        <h4><a href="{% url 'login'%}">login</a> to reply</h4>
    {% endif %}

    <h3>Replies:</h3>
    {% include "components/sort.html" %}

    {% if replys %}
        {% for reply in replys %}
            {% include 'components/reply.html' %}
        {% endfor %}
    {% else %}
        {% if user == post.created_by.user %}
            <h4> no one replied to your post yet. sad</h4>
        {% else %}
            <h4> no one replied to this post yet. you can change that</h4>
        {% endif %}
    {% endif %}

{% endblock page_content %}
