<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<div>
<h4><a href="{% url 'profile_detail' post.created_by.pk%}">{{ post.created_by }}</a><br><small>{{ post.created_on|timesince}} ago</small><br></h4>
{% load static %}
{% load filters %}
<script src="{% static 'like.js' %}"></script>
<a href="{% url 'post_detail' post.pk%}"> <img src="/media/{{post.body.name }}" alt="body image"></a>  

<button onclick="like('{% url 'post_like' post.pk %}',{{post.pk}},'{{ csrf_token }}')" id="p{{post.pk}}">    
    {% if post.likes.all|dasame:user.pk %}
        ♥
    {% else %}
        ♡
    {% endif %}
</button>
<h4 style="display: inline">{{post.likes.all.count}} likes</h4>
<div>