{% extends "base.html" %}

{% block page_content %}

    <h4><a href="{% url 'profile_detail' post.created_by.pk%}">{{ post.created_by }}</a><br><small>{{ post.created_on|timesince}} ago</small></h4>

    {% load static %}
    <img src="/media/{{post.body.name }}" alt="body image">

    <h4> draw your own reply</h4>
    {% include 'paint.html' %}

    <h3>Replies:</h3>

    {% if replys %}
        {% for reply in replys %}
            <h4><a href="{% url 'profile_detail' reply.created_by.pk%}">{{ reply.created_by }}</a><br><small>{{ reply.created_on|timesince}} ago</small></h4>
            <img src="/media/{{reply.body.name }}" alt="body image">
        {% endfor %}
    {% else %}
        <h4> there are no replys yet</h4>
    {% endif %}

    
    

{% endblock page_content %}
