{% extends "base.html" %}

{% block page_content %}
    <!-- {% load static %}
    <img src="/media/{{post.body.name }}" alt="body image"> -->
         {% include 'components/big_profile_card.html' %}

        <h3>about me:</h3>
        {% if user == profile.user %}
            <div class="photo"><a href="{% url 'create_bio' %}"><img class="art" style="width: 100%; vertical-align: middle;" src="/media/{{profile.bio_picture}}" alt="body image"></a></div>
        {% else %}
            <div class="photo"><img class="art" style="width: 100%; vertical-align: middle;" src="/media/{{profile.bio_picture}}" alt="body image"></div>
        {% endif %}

    <div class="zig-zag-line"></div>

    <h2 >my posts</h2>
    {% include "components/sort.html" %}
        
    {% for post in posts %}
        {% include 'components/post.html' %}
    {% endfor %}

    {% if posts %}
    {% else %}
        {% if user == profile.user %}
            <h4> you have no posts yet. you can change that</h4>
        {% else %}
            <h4> this account has no posts yet. sad</h4>
        {% endif %}
    {% endif %}

    {% include "components/page.html" %}

{% endblock page_content %}