{% extends "base.html" %}

{% block content %}
        <div x-data="{show: true}">
            <a href="#profile_settings" style="color : var(--text)"><h2 x-on:click="show=!show"><span><i x-show="!show" class="bi bi-caret-right-fill"></i> <i x-show="show" class="bi bi-caret-down-fill"></i></span> profile settings</h2></a>
                <div  x-show="show" x-transition>
                    <ul>
                        <a href={% url 'create_bio' %}><h3>draw new bio picture<h3><img class="art" style="width : 50%" src="/media/{{user.profile.bio_picture}}"></a>
                        <a href={% url 'create_pfp' %}><h3>draw new profile picture<h3><img class="art" style="width : 50%" src="/media/{{user.profile.profile_picture}}"></a>
                    </ul>
                </div>
        </div>

        <div x-data="{show: true}">
            <a href="#theme_settings" style="color : var(--text)"><h2 x-on:click="show=!show"><span><i x-show="!show" class="bi bi-caret-right-fill"></i> <i x-show="show" class="bi bi-caret-down-fill"></i></span> theme settings</h2></a>
                <div  x-show="show" x-transition>
                    <ul>
                        <a href={% url 'create_bio' %}><h3>dark mode?<h3></a>
                    </ul>
                </div>
        </div>

        <div x-data="{show: true}">
            <a href="#account_settings" style="color : var(--text)"><h2 x-on:click="show=!show"><span><i x-show="!show" class="bi bi-caret-right-fill"></i> <i x-show="show" class="bi bi-caret-down-fill"></i></span> account settings</h2></a>
                <div  x-show="show" x-transition>
                    <ul>
                        <a href={% url 'account_email' %}><h3>manage email</h3></a>
                        <a href={% url 'account_change_password' %}><h3>change password</h3></a>
                        <a href={% url 'account_logout' %}><h3>log out</h3></a>
                    </ul>
                </div>
        </div>
        
    </div>

{% endblock content %}