
<div>
    {% comment %} shitty code {% endcomment %}
    <select onchange="location = window.location.href.split('?')[0] + this.value;">
        {% if sort_by == "-created_on" %}
            <option selected value="?sort_by=new&page={{page}}">New</option>
            <option value="?sort_by=best&page={{page}}">Best</option>
            <option value="?sort_by=worst&page={{page}}">Worst</option>
        {%  elif sort_by == "-like_count" %}
            <option value="?sort_by=new&page={{page}}">New</option>
            <option selected value="?sort_by=best&page={{page}}">Best</option>
            <option value="?sort_by=worst&page={{page}}">Worst</option>
            <h1>of</h1>
         {%  elif sort_by == "like_count" %}
            <option value="?sort_by=new&page={{page}}">New</option>
            <option value="?sort_by=best&page={{page}}">Best</option>
            <option selected value="?sort_by=worst&page={{page}}">Worst</option>
        {% endif%}
    </select>
</div>