{% extends "base.html" %}

{% block content %}
<h2>log in</h2>
<form method="post">
  {% csrf_token %}
  {{ form }}
    <label>
      <input type="checkbox" id="checkbox" >show da password
    </label>
  <button type="submit">Log In</button>
</form>

<script type='text/javascript'>
  $(document).ready(function(){
      $('#checkbox').click(function(){
          $(this).is(':checked') ? $('#id_password').attr('type', 'text') : $('#id_password').attr('type', 'password');
      });
  });
</script>

{% endblock content %}