{% extends "base.html" %}

{% block content %}
<h2>sign up</h2>
<form method="post" x-data="{ terms: false }">
  {% csrf_token %}
  {{ form }}
  <br>
  <p>
    <label>
      <input type="checkbox" id="checkbox" x-on:click="terms = !terms">
      I agree to not be a menace on this platform, upload images, or draw illegal shit <br> <mark><i>if you do i have the right to delete your account</i></mark>
    </label>
  </p>
  <button disabled x-show="!terms" >Sign Up</button>
  <button type="submit" x-show="terms" >Sign Up</button>
</form>
{% endblock content %}