<div id="palette" x-cloak x-show="palette=='endesga-16'">
    <button id="color1" onclick="changeColor('#e4a672')" style="background-color: #e4a672;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#b86f50')" style="background-color: #b86f50;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#743f39')" style="background-color: #743f39;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#3f2832')" style="background-color: #3f2832;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#9e2835')" style="background-color: #9e2835;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#e53b44')" style="background-color: #e53b44;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#fb922b')" style="background-color: #fb922b;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#ffe762')" style="background-color: #ffe762;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#63c64d')" style="background-color: #63c64d;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#327345')" style="background-color: #327345;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#193d3f')" style="background-color: #193d3f;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#4f6781')" style="background-color: #4f6781;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#afbfd2')" style="background-color: #afbfd2;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#ffffff')" style="background-color: #ffffff;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#2ce8f4')" style="background-color: #2ce8f4;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#0484d1')" style="background-color: #0484d1;border-color:var(--text); width:35px;height:35px"></button>
  </div>