<div id="palette" x-cloak x-show="palette=='matriax8c'">
    <button id="color3" onclick="changeColor('#f0f0dc')" style="background-color: #f0f0dc;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#fac800')" style="background-color: #fac800;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#10c840')" style="background-color: #10c840;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#00a0c8')" style="background-color: #00a0c8;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#d24040')" style="background-color: #d24040;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#a0694b')" style="background-color: #a0694b;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#736464')" style="background-color: #736464;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#101820')" style="background-color: #101820;border-color:var(--text); width:35px;height:35px"></button>
  </div>