<div id="palette" x-cloak x-show="palette=='pico-8'">
    <button id="color1" onclick="changeColor('#000000')" style="background-color: #000000;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#1D2B53')" style="background-color: #1D2B53;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#7E2553')" style="background-color: #7E2553;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#008751')" style="background-color: #008751;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#AB5236')" style="background-color: #AB5236;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#5F574F')" style="background-color: #5F574F;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#C2C3C7')" style="background-color: #C2C3C7;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#FFF1E8')" style="background-color: #FFF1E8;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#FF004D')" style="background-color: #FF004D;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#FFA300')" style="background-color: #FFA300;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#FFEC27')" style="background-color: #FFEC27;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#00E436')" style="background-color: #00E436;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#29ADFF')" style="background-color: #29ADFF;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#83769C')" style="background-color: #83769C;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#FF77A8')" style="background-color: #FF77A8;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#FFCCAA')" style="background-color: #FFCCAA;border-color:var(--text); width:35px;height:35px"></button>
  </div>