<div id="palette" x-cloak x-show="palette=='sweetie-16'">
    <button id="color1" onclick="changeColor('#1a1c2c')" style="background-color: #1a1c2c;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#5d275d')" style="background-color: #5d275d;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#b13e53')" style="background-color: #b13e53;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#ef7d57')" style="background-color: #ef7d57;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#ffcd75')" style="background-color: #ffcd75;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#a7f070')" style="background-color: #a7f070;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#38b764')" style="background-color: #38b764;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#257179')" style="background-color: #257179;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#29366f')" style="background-color: #29366f;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#3b5dc9')" style="background-color: #3b5dc9;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#41a6f6')" style="background-color: #41a6f6;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#73eff7')" style="background-color: #73eff7;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#f4f4f4')" style="background-color: #f4f4f4;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color2" onclick="changeColor('#94b0c2')" style="background-color: #94b0c2;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color3" onclick="changeColor('#566c86')" style="background-color: #566c86;border-color:var(--text); width:35px;height:35px"></button>
    <button id="color1" onclick="changeColor('#333c57')" style="background-color: #333c57;border-color:var(--text); width:35px;height:35px"></button>
  </div>